@{
    ViewData["Title"] = "Dashboard";
}

@* <h1 class="text-center">Welcome, @HttpContext.Session.GetString("Username")!</h1> *@
<hr />

<div class="text-center">
    <p>You have successfully logged in.</p>
    <a asp-action="Logout" class="btn btn-danger">Logout</a>
</div>
